#page5{
    height: 100vh;
    width: 100vw;
    background-color: rgb(7, 7, 70);
    color: white;
    transform: translateY(-17vh);
}

#discuss{
    transform: translate(20vw , 10vh);
    font-size: 3rem;
}

#discuss span{
    color: aqua;
}

#contacard{
    transform: translate(0vw , 20vh);
}