#page5{
    height: 100vh;
    width: 100vw;
    background-color: rgb(7, 7, 70);
    color: white;
    transform: translateY(-17vh);
}

#discuss{
    transform: translate(20vw , 10vh);
    font-size: 3rem;
}

#discuss span{
    color: aqua;
}

#contacard{
    transform: translate(0vw , 20vh);
}

@media only screen and (max-width: 600px) {
    #discuss{
        transform: translate(20vw , 10vh);
        font-size: 2rem;
    }

    #mess{
        height: 50px;
    }

    #cd{
        height: 40vh;
    }
}