#page4{
    height: 100vh;
    width: 100vw;
    background-color: rgb(7, 7, 70);
    transform: translateY(-11vh);
    color: white;
}

#page4 h2{
    transform: translate(40vw , 10vh);
    font-size: 4rem;
    font-family: 'Brush Script MT', cursive;
    color: white;
}

#exp{
    transform: translate(10vw , 20vh);
    width: 40vw;
}

#exp h3{
    font-size: 2rem;
    color: rgb(27, 223, 27);
}

#exp p{
    font-size: 1.5rem;
}

#fl{
    transform: translate(55vw , -20vh);
}

#fl img {
    border-radius: 600px 1400px 1000px 590px; 
}

@media only screen and (max-width: 600px) {
    #page4 h2{
        transform: translate(10vw , 10vh);
        font-size: 2rem;
        font-family: 'Brush Script MT', cursive;
        color: white;
    }

    #exp h3{
        font-size: 1.5rem;
        color: rgb(27, 223, 27);
    }

    #exp p{
        font-size: 1rem;
    }
    #exp{
        transform: translate(10vw , 3vh);
        width: 40vw;
    }

    #fl{
        transform: translate(54vw , -30vh);
    }
    
    #fl img {
        border-radius: 600px 1400px 1000px 590px; 
        height: 150px;
        width: 150px;
    }
    
}