#nav-bar{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 35, 99);
    position: fixed;
    z-index: 2;
}

#name{
    margin: 10px;
    padding: 10px;
}

#name a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

#name a:hover{
    color: aqua;
    transition: 1.5s;
}
#links a:hover{
    color: aqua;
    transition: 1.5s;
}

#links a{
    text-decoration: none;
    color: white;
    margin: 4px;
    padding: 40px;
    font-size: 1.3rem;
}

